USE [master]
GO
/****** Object:  Database [DatabaseKaraoke]    Script Date: 7/26/2022 10:36:08 PM ******/
CREATE DATABASE [DatabaseKaraoke]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DatabaseKaraoke', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DatabaseKaraoke.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DatabaseKaraoke_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DatabaseKaraoke_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DatabaseKaraoke].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DatabaseKaraoke]
GO
/****** Object:  UserDefinedFunction [dbo].[idcustomer]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[idcustomer]()
RETURNS NVARCHAR(50)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(makhachhang)FROM customers ) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(makhachhang, 3)) FROM customers
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'CT00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			ELSE 'CT0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[idimportitems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[idimportitems]()
RETURNS NVARCHAR(50)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(mahoadon)FROM importitems ) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(mahoadon, 3)) FROM importitems
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'IP00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			ELSE 'IP0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[iditems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[iditems]()
RETURNS NVARCHAR(50)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(mamathang)FROM items ) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(mamathang, 3)) FROM items
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'IT00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			ELSE 'IT0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[idoder]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[idoder]()
RETURNS NVARCHAR(50)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(mahoadon)FROM [order] ) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(mahoadon, 3)) FROM [order]
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'OD00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			ELSE 'OD0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[idroom]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[idroom]()
RETURNS NVARCHAR(50)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(maphong)FROM room ) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(maphong, 3)) FROM room
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'RM00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			ELSE 'RM0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[idstaff]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[idstaff]()
RETURNS NVARCHAR(50)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(manhanvien)FROM staff ) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(manhanvien, 3)) FROM staff
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'ST00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			ELSE 'ST0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[customers]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[makhachhang] [nvarchar](50) NOT NULL,
	[hovaten] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
	[ngaytao] [date] NULL,
	[sdt] [nvarchar](50) NULL,
	[tilegiamgia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[makhachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[importitems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[importitems](
	[mahoadon] [nvarchar](50) NOT NULL,
	[tenhoadon] [nvarchar](50) NOT NULL,
	[mamathang] [nvarchar](50) NOT NULL,
	[tenmathang] [nvarchar](50) NOT NULL,
	[soluong] [int] NOT NULL,
	[gia] [int] NOT NULL,
	[ngaynhap] [date] NOT NULL,
	[congty] [nvarchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
 CONSTRAINT [PK_importitems] PRIMARY KEY CLUSTERED 
(
	[mahoadon] ASC,
	[mamathang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inserreceipt]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inserreceipt](
	[mahoadon] [nvarchar](50) NOT NULL,
	[maphong] [nvarchar](50) NOT NULL,
	[tienphong] [int] NOT NULL,
	[mamathang] [nvarchar](50) NOT NULL,
	[tenmathang] [nvarchar](50) NOT NULL,
	[soluonghang] [int] NOT NULL,
	[tienhang] [int] NOT NULL,
	[tongtien] [int] NOT NULL,
	[tienkhachhangtra] [int] NULL,
	[ngayxuat] [date] NULL,
	[thoigiansudung] [int] NOT NULL,
	[tenphong] [nvarchar](50) NULL,
 CONSTRAINT [PK_insertreceipt] PRIMARY KEY CLUSTERED 
(
	[mahoadon] ASC,
	[maphong] ASC,
	[mamathang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[items]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[mamathang] [nvarchar](50) NOT NULL,
	[tenmathang] [nvarchar](50) NOT NULL,
	[soluong] [int] NOT NULL,
	[gia] [int] NOT NULL,
	[loai] [nvarchar](50) NOT NULL,
	[img] [image] NULL,
 CONSTRAINT [PK_items] PRIMARY KEY CLUSTERED 
(
	[mamathang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[mahoadon] [nvarchar](50) NOT NULL,
	[maphong] [nvarchar](50) NOT NULL,
	[timestar] [datetime] NOT NULL,
	[timeend] [datetime] NULL,
	[mahanghoa] [nvarchar](50) NULL,
	[soluong] [int] NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[mahoadon] ASC,
	[maphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[receipt]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receipt](
	[mahoadon] [nvarchar](50) NOT NULL,
	[maphong] [nvarchar](50) NOT NULL,
	[tienphong] [int] NOT NULL,
	[mamathang] [nvarchar](50) NOT NULL,
	[tenmathang] [nvarchar](50) NOT NULL,
	[soluonghang] [int] NOT NULL,
	[tienhang] [int] NOT NULL,
	[tongtien] [int] NOT NULL,
	[tienkhachhangtra] [int] NULL,
	[ngayxuat] [date] NULL,
	[thoigiansudung] [int] NOT NULL,
	[tenphong] [nvarchar](50) NULL,
 CONSTRAINT [PK_receipt] PRIMARY KEY CLUSTERED 
(
	[mahoadon] ASC,
	[maphong] ASC,
	[mamathang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[maphong] [nvarchar](50) NOT NULL,
	[tenphong] [nvarchar](50) NOT NULL,
	[loaiphong] [nvarchar](50) NOT NULL,
	[trangthai] [nvarchar](50) NOT NULL,
	[giaphong] [int] NOT NULL,
	[suachua] [nvarchar](50) NULL,
	[ngaybatdat] [date] NULL,
	[ngayketthuc] [date] NULL,
 CONSTRAINT [PK_room] PRIMARY KEY CLUSTERED 
(
	[maphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[makhuyenmai] [nvarchar](50) NOT NULL,
	[timestart] [date] NOT NULL,
	[timeend] [date] NOT NULL,
	[tilegiamgia] [int] NOT NULL,
	[soluong] [int] NOT NULL,
 CONSTRAINT [PK_sales] PRIMARY KEY CLUSTERED 
(
	[makhuyenmai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[manhanvien] [nvarchar](50) NOT NULL,
	[tentaikhoan] [nvarchar](50) NOT NULL,
	[matkhau] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[hovaten] [nvarchar](50) NOT NULL,
	[gioitinh] [bit] NOT NULL,
	[phanloai] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](50) NULL,
	[timestart] [date] NOT NULL,
	[img] [image] NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[manhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[customers] ([makhachhang], [hovaten], [email], [diachi], [ngaytao], [sdt], [tilegiamgia]) VALUES (N'CT001', N'Lê Minh Tâm', N'lmt@gmail.com', N'Bình Dương', NULL, NULL, NULL)
INSERT [dbo].[customers] ([makhachhang], [hovaten], [email], [diachi], [ngaytao], [sdt], [tilegiamgia]) VALUES (N'CT002', N'Trần Thị Thu Thảo', N'4tttt@gmail.com', N'Bình Dương', NULL, NULL, NULL)
INSERT [dbo].[customers] ([makhachhang], [hovaten], [email], [diachi], [ngaytao], [sdt], [tilegiamgia]) VALUES (N'CT003', N'Phạm Đất Cường', N'pdc2@gmail.com', N'Bình Phước', NULL, NULL, NULL)
GO
INSERT [dbo].[importitems] ([mahoadon], [tenhoadon], [mamathang], [tenmathang], [soluong], [gia], [ngaynhap], [congty], [diachi]) VALUES (N'01', N'hóa đơn số 1', N'IT001', N'Bia Sài Gòn 24 lon', 10, 238000, CAST(N'2021-12-28' AS Date), N'SABECO', N'Bình Duong')
INSERT [dbo].[importitems] ([mahoadon], [tenhoadon], [mamathang], [tenmathang], [soluong], [gia], [ngaynhap], [congty], [diachi]) VALUES (N'IP001', N'hóa đơn số 1', N'IT001', N'Bia Sài Gòn 24 lon', 10, 238000, CAST(N'2021-12-28' AS Date), N'SABECO', N'Bình Duong')
INSERT [dbo].[importitems] ([mahoadon], [tenhoadon], [mamathang], [tenmathang], [soluong], [gia], [ngaynhap], [congty], [diachi]) VALUES (N'IP002', N'hóa đơn số 2', N'IT002', N'Bia Heineken 24 lon', 10, 432000, CAST(N'2021-12-06' AS Date), N'Công ty TNHH Nhà Máy Bia HEINEKEN Việt Nam', N'Bình Duong')
GO
INSERT [dbo].[inserreceipt] ([mahoadon], [maphong], [tienphong], [mamathang], [tenmathang], [soluonghang], [tienhang], [tongtien], [tienkhachhangtra], [ngayxuat], [thoigiansudung], [tenphong]) VALUES (N'RM04', N'RM008', 120000, N'IT014', N'Snack khoai tây vị tảo biển', 10, 13000, -7190000, NULL, NULL, -474, NULL)
INSERT [dbo].[inserreceipt] ([mahoadon], [maphong], [tienphong], [mamathang], [tenmathang], [soluonghang], [tienhang], [tongtien], [tienkhachhangtra], [ngayxuat], [thoigiansudung], [tenphong]) VALUES (N'RM04', N'RM008', 120000, N'IT015', N'Snack khoai tây vị cay Karamucho', 2, 13000, -7294000, NULL, NULL, -474, NULL)
INSERT [dbo].[inserreceipt] ([mahoadon], [maphong], [tienphong], [mamathang], [tenmathang], [soluonghang], [tienhang], [tongtien], [tienkhachhangtra], [ngayxuat], [thoigiansudung], [tenphong]) VALUES (N'RM04', N'RM008', 120000, N'IT017', N'Mực nướng', 1, 32000, -7288000, NULL, NULL, -474, NULL)
GO
INSERT [dbo].[items] ([mamathang], [tenmathang], [soluong], [gia], [loai], [img]) VALUES (N'0000', N'chong', -1, 0, N'trống', NULL)
INSERT [dbo].[items] ([mamathang], [tenmathang], [soluong], [gia], [loai], [img]) VALUES (N'IT002', N'Bia Heineken 24 lon', 1, 435000, N'Nước uống', NULL)
GO
INSERT [dbo].[receipt] ([mahoadon], [maphong], [tienphong], [mamathang], [tenmathang], [soluonghang], [tienhang], [tongtien], [tienkhachhangtra], [ngayxuat], [thoigiansudung], [tenphong]) VALUES (N'RM03', N'RM001', 120000, N'IT013', N'Trái cây', 0, 68000, 5760000, NULL, NULL, 2880, NULL)
INSERT [dbo].[receipt] ([mahoadon], [maphong], [tienphong], [mamathang], [tenmathang], [soluonghang], [tienhang], [tongtien], [tienkhachhangtra], [ngayxuat], [thoigiansudung], [tenphong]) VALUES (N'RM03', N'RM001', 120000, N'IT014', N'Snack khoai tây vị tảo biển', 4, 13000, 5812000, NULL, NULL, 2880, NULL)
INSERT [dbo].[receipt] ([mahoadon], [maphong], [tienphong], [mamathang], [tenmathang], [soluonghang], [tienhang], [tongtien], [tienkhachhangtra], [ngayxuat], [thoigiansudung], [tenphong]) VALUES (N'RM04', N'RM008', 120000, N'IT014', N'Snack khoai tây vị tảo biển', 10, 13000, -7190000, NULL, NULL, -474, NULL)
GO
INSERT [dbo].[room] ([maphong], [tenphong], [loaiphong], [trangthai], [giaphong], [suachua], [ngaybatdat], [ngayketthuc]) VALUES (N'RM001', N'số 1', N'Thường', N'Trống', 120000, NULL, NULL, NULL)
INSERT [dbo].[room] ([maphong], [tenphong], [loaiphong], [trangthai], [giaphong], [suachua], [ngaybatdat], [ngayketthuc]) VALUES (N'RM002', N'số 2', N'Thường', N'Trống', 120000, NULL, NULL, NULL)
INSERT [dbo].[room] ([maphong], [tenphong], [loaiphong], [trangthai], [giaphong], [suachua], [ngaybatdat], [ngayketthuc]) VALUES (N'RM003', N'số 3', N'Thường', N'Trống', 120000, NULL, NULL, NULL)
GO
INSERT [dbo].[sales] ([makhuyenmai], [timestart], [timeend], [tilegiamgia], [soluong]) VALUES (N'erqw', CAST(N'2022-01-25' AS Date), CAST(N'2022-07-14' AS Date), 1, 1)
INSERT [dbo].[sales] ([makhuyenmai], [timestart], [timeend], [tilegiamgia], [soluong]) VALUES (N'GHT782', CAST(N'2022-07-10' AS Date), CAST(N'2022-07-20' AS Date), 5, 1)
INSERT [dbo].[sales] ([makhuyenmai], [timestart], [timeend], [tilegiamgia], [soluong]) VALUES (N'KIN981', CAST(N'2022-08-01' AS Date), CAST(N'2022-08-30' AS Date), 12, 1)
GO
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [IDKH]  DEFAULT ([DBO].[idcustomer]()) FOR [makhachhang]
GO
ALTER TABLE [dbo].[importitems] ADD  CONSTRAINT [DF_importitems_mahoadon]  DEFAULT ([dbo].[idimportitems]()) FOR [mahoadon]
GO
ALTER TABLE [dbo].[items] ADD  CONSTRAINT [DF_items_mamathang]  DEFAULT ([DBO].[iditems]()) FOR [mamathang]
GO
ALTER TABLE [dbo].[room] ADD  CONSTRAINT [DF_room_maphong]  DEFAULT ([dbo].[idroom]()) FOR [maphong]
GO
ALTER TABLE [dbo].[staff] ADD  CONSTRAINT [DF_staff_manhanvien]  DEFAULT ([dbo].[idstaff]()) FOR [manhanvien]
GO
/****** Object:  StoredProcedure [dbo].[CheckEmtyRoom]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CheckEmtyRoom] 
@idroom nvarchar(50)
as
begin
	select * from room where maphong = @idroom and trangthai = N'Trống'
end
GO
/****** Object:  StoredProcedure [dbo].[CheckRoom]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CheckRoom] 
@idroom nvarchar(50)
as
begin
	select * from room where maphong = @idroom and trangthai = N'Đầy'
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteCustomers]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteCustomers]
@makhachhang NVARCHAR(50)
as
begin
delete customers where makhachhang = @makhachhang
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteImportItems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteImportItems]
@mahoadon NVARCHAR(50)
AS
BEGIN 
Delete importitems where mahoadon = @mahoadon
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteInforStaff]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteInforStaff]
@manhanvien NVARCHAR(50)
as
begin
delete staff where manhanvien = @manhanvien
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteInserReceipt]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteInserReceipt]
as
begin
delete inserreceipt
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteItems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteItems]
@mamathang NVARCHAR(50)
as
begin
delete items where mamathang = @mamathang
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteOder]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteOder]
@mahoadon NVARCHAR (50)
as
begin
delete [order] where mahoadon =	@mahoadon
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteReceipt]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteReceipt]
@mahoadon nvarchar(50)
as
begin 
delete receipt
where mahoadon = @mahoadon
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteRoom]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteRoom]
@maphong NVARCHAR(50)
AS
BEGIN 
DELETE FROM room WHERE maphong = @maphong
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteSales]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteSales]
@makhuyenmai NVARCHAR(50)
as
begin
delete sales where makhuyenmai = @makhuyenmai
end
GO
/****** Object:  StoredProcedure [dbo].[DeletRoomOrder]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeletRoomOrder]
@maphong NVARCHAR(50)
AS
BEGIN 
UPDATE items
set items.soluong = items.soluong + [dbo].[order].soluong
from items inner join [dbo].[order] on mamathang = mahanghoa where maphong = @maphong
update room
set trangthai = N'Trống'
where maphong = @maphong
DELETE FROM [dbo].[order]
WHERE maphong = @maphong
END
GO
/****** Object:  StoredProcedure [dbo].[FillBookRoom]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FillBookRoom]
@loaiphong NVARCHAR(50)
AS
BEGIN 
SELECT maphong, tenphong, trangthai FROM room WHERE loaiphong = @loaiphong
end
GO
/****** Object:  StoredProcedure [dbo].[FillCustomers]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[FillCustomers]
AS
begin
select makhachhang , hovaten, email, diachi, sdt, tilegiamgia
FROM customers
end
GO
/****** Object:  StoredProcedure [dbo].[FillImportItmes]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[FillImportItmes]
AS
begin
select mahoadon, tenhoadon, mamathang, tenmathang, soluong, gia, ngaynhap, congty, diachi
from importitems
end
GO
/****** Object:  StoredProcedure [dbo].[FillInfoStaff]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FillInfoStaff]
AS
BEGIN 
	SELECT manhanvien, tentaikhoan, matkhau, email, hovaten, sdt, IIF ( gioitinh = 'True', 'Nam', N'Nữ' ) AS N'gioitinh', phanloai, diachi, img FROM staff
END
GO
/****** Object:  StoredProcedure [dbo].[FillInserReceipt]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FillInserReceipt]
@mapphong nvarchar(50)
as
begin
insert into inserreceipt
SELECT *
FROM receipt
WHERE maphong = @mapphong
end
GO
/****** Object:  StoredProcedure [dbo].[Fillitems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Fillitems]
as
begin
select mamathang, tenmathang, soluong, gia, loai, img
from items
where mamathang != '0000';
end
GO
/****** Object:  StoredProcedure [dbo].[Fillorder]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Fillorder]
as
begin
select mahoadon as N'Mã hóa đơn', maphong as N'Mã phòng', timestar as N'Thời gian bắt đầu', timeend as N'Thời gian kết thúc', mahanghoa as N'Mã hàng hóa', soluong as N'Số lượng', gia as N'Giá'
from [order]
end
GO
/****** Object:  StoredProcedure [dbo].[FillPickRoom]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[FillPickRoom]
@maphong nvarchar(50)
as
begin
select tenmathang, mahanghoa, [dbo].[order].soluong as sl, timestar from [dbo].[order] join items on mahanghoa = mamathang where maphong = @maphong
end
GO
/****** Object:  StoredProcedure [dbo].[FillReceipt]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[FillReceipt]
as
begin
select mahoadon, receipt.maphong, room.tenphong, thoigiansudung, tienphong, receipt.mamathang, items.tenmathang, soluonghang, tienhang from receipt join items on receipt.mamathang = items.mamathang join room on receipt.maphong = room.maphong
end
GO
/****** Object:  StoredProcedure [dbo].[FillRoom]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FillRoom] 
AS 
BEGIN
SELECT maphong, tenphong, loaiphong, giaphong, trangthai, suachua, ngaybatdat, ngayketthuc FROM room 
END
GO
/****** Object:  StoredProcedure [dbo].[Fillsales]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Fillsales]
as
begin
select makhuyenmai, timestart, timeend, tilegiamgia, soluong 
from sales
end
GO
/****** Object:  StoredProcedure [dbo].[InserNewOrder]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InserNewOrder]
@maphong nvarchar(50),
@timestar datetime,
@mahanghoa NVARCHAR(50),
@soluong INT
AS
BEGIN
declare @@mahoadon NVARCHAR(50)
declare @max int
select @max = COUNT(mahoadon) + 1 from [dbo].[order] 
SET @@mahoadon = 'RM' + RIGHT('0' + CAST(@max as nvarchar(18)),18)
while ( exists ( select mahanghoa from [dbo].[order] where mahoadon = @@mahoadon ))
begin 
	set @max = @max + 1
	set @@mahoadon = 'RM' + RIGHT('0' + CAST(@max as nvarchar(18)),18)
end
update room 
set trangthai = N'Đầy'
where maphong = @maphong
declare @sl int
if exists ( select soluong from [dbo].[order] where maphong = @maphong and mahanghoa = @mahanghoa )
set @sl = @soluong - ( select soluong from [dbo].[order] where maphong = @maphong and mahanghoa = @mahanghoa)
else
set @sl = @soluong
update items
set soluong = soluong - @sl
where mamathang = @mahanghoa
IF exists ( select mahanghoa from [dbo].[order] where maphong = @maphong and mahanghoa = @mahanghoa)
begin
update [dbo].[order] 
set soluong = @soluong
end
else
begin
Insert into [dbo].[order] ( mahoadon, maphong, timestar, mahanghoa, soluong)
values ( @@mahoadon, @maphong, @timestar, @mahanghoa, @soluong)
end
end
GO
/****** Object:  StoredProcedure [dbo].[InsertCustomers]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertCustomers]
@makhachhang NVARCHAR(50),
@hovaten NVARCHAR(50),
@email NVARCHAR(50),
@diachi NVARCHAR(50),
@sdt NVARCHAR(50),
@tilegiamgia INT
AS
BEGIN
INSERT INTO customers
VALUES (@makhachhang, @hovaten, @email, @diachi, CONVERT(DATE, GETDATE()), @sdt, @tilegiamgia)
end
GO
/****** Object:  StoredProcedure [dbo].[InsertInforStaff]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertInforStaff]
@manhanvien NVARCHAR(50),
@tentaikhoan NVARCHAR(50),
@matkhau NVARCHAR(50),
@email NVARCHAR(50),
@sdt NVARCHAR(50),
@hovaten NVARCHAR(50),
@gioitinh BIT,
@phanloai NVARCHAR(50),
@diachi NVARCHAR(50),
@img image
AS 
BEGIN 
INSERT INTO staff 
VALUES ( @manhanvien, @tentaikhoan, @matkhau, @email, @sdt, @hovaten, @gioitinh, @phanloai, @diachi, CONVERT(DATE, GETDATE()), @img )
end
GO
/****** Object:  StoredProcedure [dbo].[InsertItems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertItems]
@mamathang NVARCHAR(50),
@tenmathang NVARCHAR(50),
@soluong int,
@gia int,
@loai NVARCHAR(50),
@img image
AS
BEGIN 
INSERT INTO items
values ( @mamathang, @tenmathang, @soluong, @gia, @loai, @img )
end
GO
/****** Object:  StoredProcedure [dbo].[InsertNoInforStaff]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertNoInforStaff]
@manhanvien NVARCHAR(50),
@tentaikhoan NVARCHAR(50),
@matkhau NVARCHAR(50),
@email NVARCHAR(50),
@sdt NVARCHAR(50),
@hovaten NVARCHAR(50),
@gioitinh BIT,
@phanloai NVARCHAR(50),
@diachi NVARCHAR(50)
AS 
BEGIN 
INSERT INTO staff (manhanvien, tentaikhoan, matkhau, email, sdt, hovaten, gioitinh, phanloai, diachi, timestart)
VALUES ( @manhanvien, @tentaikhoan, @matkhau, @email, @sdt, @hovaten, @gioitinh, @phanloai, @diachi, CONVERT(DATE, GETDATE()) )
end
GO
/****** Object:  StoredProcedure [dbo].[InsertNoItems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[InsertNoItems]
@mamathang NVARCHAR(50),
@tenmathang NVARCHAR(50),
@soluong int,
@gia int,
@loai NVARCHAR(50)
AS
BEGIN 
INSERT INTO items (mamathang, tenmathang, soluong, gia, loai)
values ( @mamathang, @tenmathang, @soluong, @gia, @loai )
end
GO
/****** Object:  StoredProcedure [dbo].[InsertRoom]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertRoom]
@maphong NVARCHAR(50),
@tenphong NVARCHAR(50),
@loaiphong NVARCHAR(50),
@trangthai NVARCHAR(50),
@giaphong int,
@suachua NVARCHAR(50),
@ngaybatdau date,
@ngayketthuc date
AS
BEGIN
INSERT INTO room
values (@maphong, @tenphong, @loaiphong, @trangthai, @giaphong, @suachua, @ngaybatdau, @ngayketthuc)
end
GO
/****** Object:  StoredProcedure [dbo].[InsertSales]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertSales]
@makhuyenmai NVARCHAR(50),
@timestar DATE,
@timeend DATE,
@tilegiamgia INT,
@soluong INT 
AS
BEGIN
INSERT INTO sales
VALUES (@makhuyenmai, @timestar, @timeend, @tilegiamgia, @soluong)
END
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Login]
@Username NVARCHAR(50),
@Password NVARCHAR(50)
AS
BEGIN
SELECT phanloai , tentaikhoan FROM staff WHERE tentaikhoan = @Username AND matkhau = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[SelectIdCustomers]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SelectIdCustomers]
@makhachhang NVARCHAR(50)
AS
BEGIN
	select * from customers where makhachhang = @makhachhang
END
GO
/****** Object:  StoredProcedure [dbo].[SelectIdInforroom]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SelectIdInforroom]
@maphong NVARCHAR(50)
AS
BEGIN
	select * from room where maphong = @maphong
END
GO
/****** Object:  StoredProcedure [dbo].[SelectIdInforStaff]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SelectIdInforStaff]
@manhanvien NVARCHAR(50)
AS
BEGIN
	select * from staff where manhanvien = @manhanvien
END
GO
/****** Object:  StoredProcedure [dbo].[SelectIdItems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SelectIdItems]
@mamathang nvarchar(50)
as
begin
select * from items where mamathang = @mamathang
end
GO
/****** Object:  StoredProcedure [dbo].[SelectIdSales]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SelectIdSales]
@makhuyenmai NVARCHAR(50)
AS
BEGIN
	select * from sales where makhuyenmai = @makhuyenmai
END
GO
/****** Object:  StoredProcedure [dbo].[SelectMenuItems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SelectMenuItems]
@loai NVARCHAR(50)
AS
BEGIN
SELECT * FROM items where loai = @loai
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomers]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateCustomers]
@makhachhang NVARCHAR(50),
@hovaten NVARCHAR(50),
@email NVARCHAR(50),
@diachi NVARCHAR(50),
@sdt NVARCHAR(50),
@tilegiamgia int
AS
BEGIN
UPDATE customers
SET hovaten = @hovaten, email = @email, diachi = @diachi, sdt = @sdt, tilegiamgia = @tilegiamgia
where makhachhang = @makhachhang
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateImportItems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateImportItems]
@mahoadon NVARCHAR(50),
@tenhoadon NVARCHAR(50),
@mamathang NVARCHAR(50),
@tenmathang NVARCHAR(50),
@soluong int,
@gia int,
@ngaynhap date,
@congty  NVARCHAR(50),
@diachi NVARCHAR(50)
AS
BEGIN
UPDATE importitems
SET tenhoadon =  @tenhoadon, mamathang = @mamathang, tenmathang = @tenmathang,soluong = @soluong, gia = @gia, ngaynhap = @ngaynhap, congty = @congty, diachi = @diachi
where mahoadon = @mahoadon
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateInforStaff]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateInforStaff]
@manhanvien NVARCHAR(50),
@tentaikhoan NVARCHAR(50),
@matkhau NVARCHAR(50),
@email NVARCHAR(50),
@sdt NVARCHAR(50),
@hovaten NVARCHAR(50),
@gioitinh BIT,
@phanloai NVARCHAR(50),
@diachi NVARCHAR(50),
@img image
AS
BEGIN
UPDATE staff
SET manhanvien = @manhanvien, tentaikhoan = @tentaikhoan, matkhau = @matkhau, email = @email, hovaten = @hovaten, sdt = @sdt, gioitinh = @gioitinh, phanloai = @phanloai, diachi = @diachi, img = @img
WHERE manhanvien = @manhanvien
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateItems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateItems]
@mamathang NVARCHAR(50),
@tenmathang NVARCHAR(50),
@soluong int,
@gia int,
@loai NVARCHAR(50),
@img image
as
begin
update items
set tenmathang = @tenmathang, soluong = @soluong, gia =@gia, loai = @loai, img = @img
where mamathang = @mamathang
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateNewTimeendOrder]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateNewTimeendOrder]
@maphong nvarchar(50),
@timeend datetime
AS
BEGIN
declare @@mahoadon NVARCHAR(50)
declare @max int
select @max = COUNT(mahoadon) + 1 from [dbo].[order] 
SET @@mahoadon = 'RM' + RIGHT('0' + CAST(@max as nvarchar(18)),18)
while ( exists ( select mahanghoa from [dbo].[order] where mahoadon = @@mahoadon ))
begin 
	set @max = @max + 1
	set @@mahoadon = 'RM' + RIGHT('0' + CAST(@max as nvarchar(18)),18)
end
update room
set trangthai = N'Trống'
where maphong = @maphong
update [dbo].[order] 
set timeend = @timeend
where maphong = @maphong
INSERT into receipt ( mahoadon, maphong, thoigiansudung, tienphong, mamathang, tenmathang, soluonghang, tienhang, tongtien )
select @@mahoadon, maphong, timeued, gia, mamathang, tenmathang, sl, igia, tong
from ( select room.maphong, DATEDIFF(MINUTE,timestar, timeend) as timeued, room.giaphong as gia, mamathang, tenmathang, [dbo].[order].soluong as sl, items.gia as igia,  (DATEDIFF(MINUTE,timestar, timeend)/60 + DATEDIFF(MINUTE,timestar, timeend)%60) * room.giaphong + [dbo].[order].soluong * items.gia as tong from [dbo].[order] join room on [dbo].[order].maphong = room.maphong join items on [dbo].[order].mahanghoa = items.mamathang where [dbo].[order].maphong = @maphong ) as finaltable
delete from [dbo].[order] 
where maphong = @maphong
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateNoInforStaff]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateNoInforStaff]
@manhanvien NVARCHAR(50),
@tentaikhoan NVARCHAR(50),
@matkhau NVARCHAR(50),
@email NVARCHAR(50),
@sdt NVARCHAR(50),
@hovaten NVARCHAR(50),
@gioitinh BIT,
@phanloai NVARCHAR(50),
@diachi NVARCHAR(50)
AS
BEGIN
UPDATE staff
SET manhanvien = @manhanvien, tentaikhoan = @tentaikhoan, matkhau = @matkhau, email = @email, hovaten = @hovaten, sdt = @sdt, gioitinh = @gioitinh, phanloai = @phanloai, diachi = @diachi
WHERE manhanvien = @manhanvien
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateNoItems]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateNoItems]
@mamathang NVARCHAR(50),
@tenmathang NVARCHAR(50),
@soluong int,
@gia int,
@loai NVARCHAR(50)
as
begin
update items
set tenmathang = @tenmathang, soluong = @soluong, gia =@gia, loai = @loai
where mamathang = @mamathang
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrder]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateOrder]
@mahoadon NVARCHAR(50),
@maphong NVARCHAR(50),
@timestart time(7),
@timeend time(7),
@mahanghoa NVARCHAR(50),
@soluong int,
@gia int
as
begin
update [order]
set maphong = @maphong, timestar = @timestart, timeend = @timeend, mahanghoa = @mahanghoa, soluong = @soluong, gia = @gia
where mahoadon = @mahoadon
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateRoom]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateRoom]
@maphong NVARCHAR(50),
@tenphong NVARCHAR(50),
@loaiphong NVARCHAR(50),
@trangthai NVARCHAR(50),
@giaphong int,
@suachua NVARCHAR(50),
@ngaybatdau date,
@ngayketthuc date
AS
BEGIN 
UPDATE room
SET tenphong = @tenphong, loaiphong = @loaiphong, trangthai = @trangthai, giaphong = @giaphong, suachua = @suachua, ngaybatdat = @ngaybatdau, ngayketthuc = @ngayketthuc
WHERE maphong = @maphong;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateSales]    Script Date: 7/26/2022 10:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[UpdateSales]
@makuyenmai NVARCHAR(50),
@timestart DATE,
@timeend DATE,
@tilegiamgia int,
@soluong int
as
begin
update sales
set timestart = @timestart, timeend =@timeend, tilegiamgia = @tilegiamgia, soluong = @soluong
where makhuyenmai = @makuyenmai
end
GO
USE [master]
GO
